<div class="tw-mt-3" *ngFor="let task of tasks">
  <div class="tw-border tw-border-gray-100 tw-p-4">
    <div class="flex-c-b">
      <h3 class="tw-capitalize tw-text-base tw-text-blue-500 tw-font-medium">{{task.title}}</h3>
      <div class="tw-text-xs tw-space-x-1"><i class="icon icon-calendar-o tw-opacity-70"></i> <span
          class="tw-text-black tw-font-medium">{{task.formDate}}</span></div>
    </div>
    <p class="tw-my-2 tw-text-sm tw-leading-5 tw-text-gray-500">
      {{task.description}}
    </p>
    <div class="flex-c-b">
      <div class="tw-text-xs tw-space-x-1">
        <i class="icon icon-chart tw-opacity-70"></i> <span
          class="tw-text-black tw-font-medium">{{task.priority}}</span>
      </div>
      <div class="tw-text-xs tw-space-x-1"><i class="icon icon-clock-1 tw-opacity-70"></i> <span
          class="tw-text-black tw-font-medium">{{task.estimation}}</span></div>
      <div class="tw-text-xs tw-space-x-1">
        <i class="icon icon-cloud-computing tw-opacity-70"></i> <span
          class="tw-text-black tw-font-medium">{{task.classification}}</span>
      </div>
    </div>
    <div class="tw-space-x-1 tw-mt-4">
      <button type="submit" (click)="updateItem(task)"
        class="tw-bg-yellow-500 hover:tw-bg-yellow-800 tw-capitalize tw-text-white tw-h-10 tw-px-4 transition-du200">
        edit </button>
      <button type="submit"
        class="tw-bg-gray-500 hover:tw-bg-gray-800 tw-capitalize tw-text-white tw-h-10 tw-px-4 transition-du200"> hold
      </button>
      <button type="submit" (click)="deleteItem(task.id)"
        class="tw-bg-red-500 hover:tw-bg-red-800 tw-capitalize tw-text-white tw-h-10 tw-px-4 transition-du200"> delete
      </button>
    </div>
  </div>
</div>
<ng-container *ngIf="tasks?.length == 0">
  <div class="tw-border tw-border-orange-200 tw-p-6 tw-text-center tw-mt-4 tw-bg-orange-100">
    empty status
  </div>
</ng-container>